@charset "UTF-8";

#content-inner {}

#contents {
    max-width: 1200px;
    min-height: 950px;
    margin: auto;
}

#contents > h1 {
    text-align: center;
    margin: 10px;
    font-family: DOSGothic;
}

.log {
    width: 800px;
    margin: auto;
    font-family: DOSGothic;
    text-align: center;
    font-size: 17px;
    border-collapse: collapse;
}

tr {
    height: 28px;
    font-size:
}

tr:first-child {
    border: none;
    border-bottom: 1px solid black;
    color: white;
    background-color: black
}

th {
    border-left: 1px solid white;
    width: 25%;
}

td:first-child {
    font-size: 24px;
}
.code-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    box-sizing: border-box;
    display: none;
}

.code-content {
    border: 1px solid black;
    background-color: #fff;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.code-content > div {
    width: 42px;
    margin: auto;
}

/*문제*/
#cod{
    width: 450px;
}
.code {
    width: 450px;
    height: 250px;
    resize: none;
}
