<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>  <!-- 루트경로 진입시 가장먼저 읽어오는 파일 -->
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  <!-- 서블릿을 불러오기 위해 WAS에게 주는 정보 -->
  <!-- 1. 배포할 Servlet 2. 해당 Servlet 매핑 URL -->
  	<servlet-name>Index</servlet-name>
    <servlet-class>serverData.Index</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Index_Idck</servlet-name>
    <servlet-class>serverData.Index_Idck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Index_Join</servlet-name>
    <servlet-class>serverData.Index_Join</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Index_Login</servlet-name>
    <servlet-class>serverData.Index_Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login_Check</servlet-name>
    <servlet-class>serverData.Login_Check</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login_Out</servlet-name>
    <servlet-class>serverData.Login_Out</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Info_Values</servlet-name>
    <servlet-class>serverData.Info_Values</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Rank_Values</servlet-name>
    <servlet-class>serverData.Rank_Values</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Question_Log</servlet-name>
    <servlet-class>serverData.Question_Log</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Question</servlet-name>
    <servlet-class>serverData.Question</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Question_Solve</servlet-name>
    <servlet-class>serverData.Question_Solve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Compiler</servlet-name>
    <servlet-class>serverData.Compiler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Code_Log</servlet-name>
    <servlet-class>serverData.Code_Log</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Custom_Question</servlet-name>
    <servlet-class>serverData.Custom_Question</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Add_Question</servlet-name>
    <servlet-class>serverData.Add_Question</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Point_Check</servlet-name>
    <servlet-class>serverData.Point_Check</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>Index</servlet-name>
      <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Index_Idck</servlet-name>
      <url-pattern>/Index_Idck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Index_Join</servlet-name>
      <url-pattern>/Index_Join</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Index_Login</servlet-name>
      <url-pattern>/Index_Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Login_Check</servlet-name>
      <url-pattern>/Login_Check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Login_Out</servlet-name>
      <url-pattern>/Login_Out</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Info_Values</servlet-name>
      <url-pattern>/Info_Values</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Rank_Values</servlet-name>
      <url-pattern>/Rank_Values</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Question_Log</servlet-name>
      <url-pattern>/Question_Log</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Question</servlet-name>
      <url-pattern>/Question</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Question_Solve</servlet-name>
      <url-pattern>/Question_Solve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Compiler</servlet-name>
      <url-pattern>/Compiler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Code_Log</servlet-name>
      <url-pattern>/Code_Log</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Custom_Question</servlet-name>
      <url-pattern>/Custom_Question</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Add_Question</servlet-name>
      <url-pattern>/Add_Question</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Point_Check</servlet-name>
      <url-pattern>/Point_Check</url-pattern>
  </servlet-mapping>
  
</web-app>
 